# ambientes virtuais
.venv/
.venv311_ok/
.venv*/
venv*/

# cache e builds
__pycache__/
*.pyc

# áudio e saídas
output/
logs/

# modelos e caches
.cache/
*.bin
*.pt

# wheels e binarios grandes
wheels/
ffmpeg-master-latest-win64-gpl/
ffmpeg.zip
Lab_whisper.zip
win_arm64-wheels-main.zip
docs*.zip

# segredos
token*.txt
